body {
	font-family: adobe-garamond-pro,serif;
	font-weight: 400;
	font-style: normal;
}

#search-container {
	padding-top: 25vh;
	margin-left: auto;
	margin-right: auto;
}

#search-container h1 {
	text-align: center;
	font-size: 3rem;
}

input {
	width: 100%;
}

button {
	width: 200px;
	height: 35px;
	font-size: 510px;
}

#search-form label {
	font-size: 25px;
	margin-bottom: 0px;
}

#results-header {
	text-align: center;
	text-decoration: underline;
	font-size: 2.2em;
	margin-bottom: 2.5vh;
}

.definition {
	padding-top: 1.5vh;
}
.definition h3 {
	font-size: 2.25rem;
}

.definition li {
	font-size: 1.3em; 
}

.definition:after {
	content: "";
    display: block;
    width: 15%;
    padding-bottom: 1.5vh;
    border-bottom: 3px solid grey;
}